@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--white);
    --black: #2D2C2C;
    --white: white;
}

.tk-blob{
    position: absolute;
    bottom: 2vw;
    right: 7vw;
    width: 5vw;
    height: 5vw;
}

body.dark{
    --black: white;
    --white: #2D2C2C; 
}

::-webkit-scrollbar {
    width: 0.3vw;
}

::-webkit-scrollbar-track {
    background-color: var(--black);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: 10px;
}

.phone-nav{
    display: none;
}

.phone-nav-btn{
    display: none;
}

nav{
    width: 100%;
}

nav ul{
    margin-top: -0.2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul a{
    list-style: none;
    text-decoration: none;
    color: var(--black);
    padding: 1vw;
    font-size: 1.3vw;
}


.dark-mode{
    position: absolute;
    top: 0vw;
    right: 7vw;
    background-color: var(--black);
    width: 2.5vw;
    height: 4.5vw;
    margin-top: -1vw;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.dark-mode i{
    color: var(--white);
    margin-bottom: 1vw;
    cursor: pointer;
}

.mute{
    position: absolute;
    top: 0vw;
    right: 4vw;
    background-color: var(--black);
    width: 2.5vw;
    height: 4.5vw;
    margin-top: -1vw;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.mute i{
    color: var(--white);
    margin-bottom: 1vw;
    cursor: pointer;
}

.main{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.name{
    text-align: center;
    font-weight: bold;
    font-size: 5vw;
    color: var(--black);
}

.tags{
    margin-top: 1vw;
    text-align: center;
    font-size: 1.5vw;
    color: var(--black);
}

.about{
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo{
    height: 13vw;
    width: 13vw;
    border-radius: 50%;
    background-image: url('https://github.com/gigabite-pro.png');
    background-position: center;
    background-size: cover;
}

.content{
    margin-top: 2vw;
    margin-left: 3vw;
    width: 30vw;
    color: var(--black);
}

.anim1 a{
    color: blueviolet;
}

.tab-box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tabs{
    margin-left: 3vw;
    width: 25vw;
    background-color: var(--white);
    display: flex;
    justify-content: stretch;
}

.tabs div{
    flex-basis: 50%;
    padding: 0.5vw 0.5vw;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
}

.tabs div:hover{
    cursor: pointer;
}

.codimg{
    background-color: var(--black);
    transition-duration: 300ms;
    color: var(--white);
}

.youtube{
    transition-duration: 300ms;
    color: var(--black);
}

.projects-div{
    display: flex;
    justify-content: center;
    width: 45vw;
    margin: auto;
    margin-top: 2vw;
    flex-flow: wrap;
}

.card{
    flex-basis: 1/2;
    margin-top: 1vw;
    margin-left: 3vw;
    margin-bottom: 1vw;
    width: 19vw;
    border: 1px solid var(--black);
    font-size: 0.9vw;
    border-radius: 14px;
    overflow: hidden;
    /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); */
}

.desc{
    padding: 0.7vw;
    padding-top: 0vw;
    color: var(--black);
}

.proj-name{
    color: var(--black);
    font-size: 1.3vw;
    font-weight: bold;
    padding: 0.7vw;
}

.proj-image{
    width: 100%;
    height: 11vw;
}

.links{
    padding: 0.7vw;
    padding-bottom: 1vw;
}

.links a{
    color: var(--black);
    font-size: 1vw;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }


@media screen and (max-width: 768px){
    html,body{
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    nav{
        display: none;
    }

    .phone-nav-btn{
        display: block;
        position: absolute;
        top: 5vw;
        right: 7vw;
        font-size: 5vw;
        color: var(--black);
    }

    .phone-nav{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: var(--black);
        top: -100%;
        left: 100%;
        z-index: 6;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        scale: 0;
    }

    .phone-nav nav{
        display: flex;
        justify-content: center;
    }

    .phone-nav nav ul{
        display: flex;
        flex-direction: column;
        padding-right: 4vw;
        list-style: none;
    }

    .phone-nav nav ul a{
        color: var(--white);
        font-size: 7vw;
        padding-top: 4vw;
    }

    .phone-icons{
        color: var(--white);
        font-size: 6vw;
        padding-top: 4vw;
    }

    .phone-icons i{
        margin-right: 2vw;
    }

    #cross{
        position: absolute;
        top: 5vw;
        right: 7vw;
        color: var(--white);
        font-size: 8vw;
    }

    .dark-mode, .mute{
        display: none;
    }

    .name{
        font-size: 9vw;
    }

    .tags{
        font-size: 3vw;
    }

    .about{
        margin-top: 15vw;
    }

    .photo{
        width: 45vw;
        height: 45vw;
    }

    .content{
        width: 90vw;
        margin-left: 0vw;
        font-size: 4vw;
    }

    .tab-box{
        margin-top: 15vw;
    }

    .tabs{
        width: 90vw;
        margin-left: 0vw;
    }

    .tabs div{
        padding: 3vw 3vw;
        font-size: 3.5vw;
    }

    .projects-div{
        width: 100vw;
    }

    .card{
        margin-left: 0vw;
        width: 80vw;
        flex-basis: 1;
        font-size: 4vw;
        margin-top: 5vw;
    }

    .desc{
        padding: 2vw;
    }

    .proj-name{
        font-size: 6vw;
        padding: 2vw;
    }

    .proj-image{
        height: 40vw;
    }

    .links{
        padding: 2vw;
        margin-bottom: 2vw;
    }

    .links a{
        font-size: 4vw;
    }
}